@font-face {
	font-family: 'Nunito';
	src: url('../fonts/Nunito-Light.eot');
	src: local('☺'),
		url('../fonts/Nunito-Light.woff') format('woff'),
		url('../fonts/Nunito-Light.ttf') format('truetype'),
		url('../fonts/Nunito-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Nunito';
	src: url('../fonts/Nunito-ExtraLight.eot');
	src: local('☺'),
		url('../fonts/Nunito-ExtraLight.woff') format('woff'),
		url('../fonts/Nunito-ExtraLight.ttf') format('truetype'),
		url('../fonts/Nunito-ExtraLight.svg') format('svg');
	font-weight: 100;
	font-style: normal;
}

@media (max-width: 1200px){
	.container {
		max-width: 970px;
	}
}
@media (max-width: 992px){
	.container {
		max-width: 750px;
	}
}
@media (max-width: 767px){
	.container {
		max-width: none;
		background-color: #DB00C7;
		padding: 10px;

	}
}

.container{
	font-family: 'Nunito', sans-serif;
	max-width: 1200px;
	min-width: 500px;
	margin: 0px auto;
	padding: 0px 0px;
	background-color: #DBCEC7;
}

.telo{
	margin: 0px auto;
	padding: 0px 0px;
	background-color: #ADD8E6;
}

.box__cat{
	margin: 10px 10px 10px 10px;
	border: 2px solid #6B4C0B;
	border-radius: 5px;
	padding: 5px;
	background: #F0F0F0;
	font-family: 'Nunito', sans-serif;
	font-weight: 700;
	font-size: 1em;
	color: #00A00F;
}

.box__cat_cap {
	margin: 0 0 0 10px;
	color: #222;
}

.box__cat_but_box{
	display: flex;
	flex-direction: row; /* row, column */
	flex-wrap: wrap;	/*flex-flow: row wrap;*/
	justify-content: center; /* flex-start, flex-end, center, space-between, space-around */
	align-items: flex-start; /* flex-start, flex-end, center, stretch, baseline */
	background: #E0E0E0;

}

body {
	font-family: Arial, sans-serif;
	font-size: 16px;
}

h1{
	color: #72510C;
	font-size: 15px;
	font-variant: small-caps;
	text-align: center;
	letter-spacing: 4px;
}

p{
	font-family: 'Nunito', sans-serif;
	font-weight: 100;
	margin: 0px;
	font-size: 15px;
	color: #FFFFFF;

}

header{
	margin: 0px;
	padding: 10px;
	background: #636164;
	color: #FFFFFF;

}

footer{
	margin: 0px;
	padding: 10px;
	background: #636164;
	color: #FFFFFF;

}
hr {
	margin: 2px 100px;
}

/**********  colapse  styles  **********/

.collapsible, .mybut {
	flex: 1 2 150px;
	display: flex;
	font-weight: 700;
	padding: 10px;
	margin: 10px;
	background-color: #BCB1AB;
	border: 3px solid #6B4C0B;
	border-radius: 10px;
	cursor: pointer;
	
	color: #FFFFFF;
	font-size: 1em;
	text-align: center;
	height: auto; /* if parent's cont align-items == stretch */
	min-width: 100px;
}

.active, .collapsible:hover, .mybut:hover {
	background: #D1FF7C;
	color: #000000;
	transition-duration: 300ms;
}

.content {
	padding: 20px;
	margin: 2px 10px;
	display: none;
	overflow: hidden;
	background-color: #111;
	font-weight: 700;
	color: white;
}

