<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<link rel="icon" type="image/gif" href="{{ url_for('static', filename='img/myico.ico') }}" />
		<link type="text/css" href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"/>
		{% block title -%}
		{% if title %}
			<title> uDacha - {{ title }} </title>
		{% else %}
			<title> uDacha </title>
		{% endif %}
		{% endblock %}
	</head>
	<body>
		<div class="wrapper">
		<header>
			{% block header -%}
			{% if menu %}
				<p> uDacha - {{ menu }} </p>
			{% else %}
				<p> uDacha </p>
			{% endif %}
			{% endblock  %}
		</header>

		<div class="container">
				{% block content %}
				{% endblock %}
			</div>
		</div>

		<footer>
			{% block footer -%}
				<p align = "center"> (c) uDacha 2021 </p>
			{% endblock  %}
		</footer>
		</div>
	</body>
</html>
