{% extends 'base.html' %}
{{ super() }}

{% block content %}
	{% for key, val in tree.items() %}
	<div class="box__cat">
		<div class="box__catcap">
		{{ key }}
		</div>
		<div class="box__catbut">
			{% for but in val %}
				<div class="button">{{ key }} {{ but }}</div>
				<button class="collapsible" type="button"> {{ but }} </button>
				<div class="content">
					<p> -- commodo consequat -- </p>
					<button class="collapsible_in" type="button"> {{ but }}-close </button>

				</div>

			{% endfor %}
		</div>
	</div> 
	{% endfor %}
{% endblock %}
